
# Created by https://www.toptal.com/developers/gitignore/api/vscode,web
# Edit at https://www.toptal.com/developers/gitignore?templates=vscode,web

### vscode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

### Web ###
*.asp
*.cer
*.csr
*.css
*.htm
*.html
*.js
*.jsp
*.php
*.rss
*.wasm
*.wat
*.xhtml

# End of https://www.toptal.com/developers/gitignore/api/vscode,web
